.arjs-loader {
    display: flex;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}
.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}

.hud {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(244, 244, 244, 0.8);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
button {
    position: relative;
}
*/

.btn-group {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-content: center;
    bottom: 30;
    width: 100%;
    background-color: #04AA6D; /* Green background */
    border: 1px solid green; /* Green border */
    color: white; /* White text */

    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}


.main-page{
    display: flex;
    flex-direction: column;
}



/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}
  
.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}
  
/* Add a background color on hover */
.btn-group button:hover {
    background-color: #3e8e41;
}

.info-pane {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60%;
    width: 100%;
    display: none;
    background-color: rgba(244, 244, 244, 0.8);
}

.success {
    background-color: #d4edda;
}
.danger {
    background-color: #f8d7da;
}
