* {
    font-family: Helvetica;
}

body {
    margin: 0;
    overflow-x: hidden;
}

.backHome {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    background: linear-gradient(to bottom right, #862633, #eb0849);
    color: white; /* White text */
    padding-left: 1rem;
    padding-right: 1rem;
}

.backHome h1 {
    text-align: center;
}

/* .backHome button {
    position: absolute;
    left: 12px;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.backHome button svg {
    width: 25px;
    height: 25px;
} */

.infoText {
    margin: 1rem;
    padding-bottom: 25%;
}

#info-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    /* padding-bottom: 25%; */
}

.btn-group {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row;
    align-items: center;

    position: absolute;
    bottom: 0%;
    left: 0%;
    width: 100vw;
    padding-top: 4px;
    padding-bottom: 4px;

    background: linear-gradient(to bottom right, #862633, #eb0849);
    color: white; /* White text */
}

.btn-group button {
    display: inline-flex;
    justify-content: center;
    align-items: center;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
    padding: 0;
}

.btn-group button svg {
    width: 35px;
    height: 35px;
}

.btn-group button:hover {
    background: linear-gradient(to bottom right, #862633, #eb0849);
    color: white; /* White text */
    border-color: white;
}

.btn-group button:hover svg {
    stroke: white;
}
